* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    line-height: 1.6;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background: #111;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.nav-links {
    list-style: none;
    display: flex;
}
.nav-links a.active {
    color: #ff4d4d;
}
.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #ff4d4d;
}

.hero {
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
                url(image.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h1 {
    font-size: 50px;
}

.hero button {
    margin-top: 20px;
    padding: 12px 25px;
    background: #ff4d4d;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

.hero button:hover {
    background: #e60000;
}

.section {
    padding: 100px 50px;
    text-align: center;
}

.section.dark {
    background: #111;
    color: white;
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
}

.card {
    background: white;
    padding: 20px;
    margin: 15px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    transition: 0.3s;
}

.section.dark .card {
    background: #222;
    color: white;
}

.card:hover {
    transform: translateY(-10px);
}

.price ul {
    list-style: none;
    margin: 15px 0;
}

.price button {
    padding: 8px 20px;
    background: #ff4d4d;
    border: none;
    color: white;
    cursor: pointer;
}

.highlight {
    border: 3px solid #ff4d4d;
}

footer {
    background: #000;
    color: white;
    text-align: center;
    padding: 15px;
}